.mainbar .toolbar-mainbar {
    height: 34px;
}
#browser.win.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar), #browser.linux.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar) {
    min-height: 0px;
}
#browser.win .window-buttongroup {
    top: auto;
}
.disable-titlebar#browser.win .window-buttongroup,.toolbar-extensions {
    height: 30px;
}
.vivaldi {
    display: none;
}
.window-buttongroup.on-mainbar{
position: relative!important;
order:1;
height: 30px;
min-width: 133px;
background: var(--colorBg);
}
#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
     padding-right: 0;
}
.toolbar{
    flex-wrap: wrap;
    justify-content: flex-end;
}

.density-on.disable-titlebar#browser.win .window-buttongroup {
    height: 33px;
}